:host{ //fait reference a la balise app entete

}

mat-toolbar {
    position: fixed;

}

nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    width: 100%;

    a{
        margin-left: 10px;
        
    }
    button{
        margin-left: 10px;
    }
}
