:host{ //fait reference a la balise app entete

}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;


    background-color: rgb(95, 18, 184);

    a{
        margin-left: 10px;
        margin-right: 20px;
        color: white;
        

    }
    button{
        margin-left: 10px;
    }

    .lien_nav{
        display: flex;
        align-items: center;
    }
}
