<mat-toolbar color="primary">

    <nav>
        <div>
            <a routerLink="">{{titre}}</a>
        </div>
        <div>
            <!-- routerLink empeche de le rechargement des page -->
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a> 
            <a routerLink="/produit" routerLinkActive="active">liste des produit</a>
    
            
            <button mat-raised-button (click)="seConnecter()">{{msgConnecter}}</button>
            
        </div>
    </nav>
</mat-toolbar>


