<header>
    <nav>
        <div>
            <h1><a routerLink="">{{titre}}</a></h1>
        </div>
        <div>
            <!-- routerLink empeche de le rechargement des page -->
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a> 
            <a routerLink="/produit" routerLinkActive="active">liste des produit</a>

            
               <button (click)="seConnecter()">{{msgConnecter}}</button>
            
        </div>
    </nav>
</header>
