
        <article *ngIf="!peutEditer; else template" class="unProduit" >
            <p>Nom: {{produit.nom}}</p>
            <p>Brasserie: {{produit.brasserie}}</p>

        </article>

        
        <ng-template #template>
            <article class="unProduit">
                <p >Nom: <input type="text" [(ngModel)]="produit.nom"></p>
                <p >Brasserie: <input type="text" [(ngModel)]="produit.brasserie"></p>
            </article>
        </ng-template>


    <p *ngIf="estConnecte">Est editable? <input type="checkbox" (change)="changeEditable()" [(ngModel)]="peutEditer"></p>