
        <article *ngIf="!peutEditer; else template" class="unProduit" >
            <p>Nom : <a routerLink="/produit/{{produit.id_biere}}">{{produit.nom}}</a></p>
            <p>Brasserie: {{produit.brasserie}}</p>

        </article>

        
        <ng-template #template>
            <!-- <article class="unProduit">
                <p >Nom: <input type="text" [(ngModel)]="produit.nom"></p>
                <p >Brasserie: <input type="text" [(ngModel)]="produit.brasserie"></p>
            </article> -->

            <form [formGroup]="modifForm">
                <div class="card">
                    <p>Nom :<input formControlName="nom"></p>
                    <p>Brasserie :<input formControlName="brasserie"></p>
                    <p>Description :<textarea formControlName="description"></textarea></p>
                    <div class="btn-div">
                        <button (click)="modifier()" [disabled]="!modifForm.dirty || !modifForm.valid">Modifier</button>
                        <button (click)="annuler()" [disabled]="!modifForm.dirty">Annuler</button>
                    </div>
                </div>
            </form>

        </ng-template>


    <p *ngIf="estConnecte">Est editable? <input type="checkbox" (change)="changeEditable()" [(ngModel)]="peutEditer"></p>