<article>
    <!-- <pre>{{biere | json}}</pre> affiche mon obkect en format json--> 
    <h2>Modifier une biere</h2>
    <p>Nom: {{biere?.nom}}</p>
    <p>Brasserie:{{biere?.brasserie}}</p>
    <p>Description:{{biere?.description}}</p>
    <p></p>
</article>


<form [formGroup]="modifForm">
    <div class="card">
        <p>Nom :<input formControlName="nom"></p>
        <p>Brasserie :<input formControlName="brasserie"></p>
        <p>Description :<textarea formControlName="description"></textarea></p>
        <div class="btn-div">
            <button (click)="modifier()" [disabled]="!modifForm.dirty || !modifForm.valid">Modifier</button>
            <button (click)="annuler()" [disabled]="!modifForm.dirty">Annuler</button>
        </div>
    </div>
</form>