

    <form [formGroup]="modifForm">
      <mat-form-field appearance="fill">
      <mat-label>Nom:</mat-label>
          <input matInput formControlName="nom">
          <mat-error *ngIf="modifForm.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Brasserie:</mat-label>
            <input matInput formControlName="brasserie">
            <mat-error *ngIf="modifForm.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description:</mat-label>
            <input matInput formControlName="description">
            <mat-error *ngIf="modifForm.invalid">{{getErrorMessage()}}</mat-error>

        </mat-form-field>


          <div class="btn-div">
              <button mat-raised-button (click)="modifier()" [disabled]="!modifForm.dirty || !modifForm.valid">Modifier</button>
              <button mat-button color="warn" (click)="annuler()">Annuler</button>
              
          </div>
        
  </form> 


  











<article class="article_detail">
    <!-- <pre>{{biere | json}}</pre> affiche mon obkect en format json--> 
    <h2>Detail</h2>
    <div class="detail">
        <div *ngIf="!biere.image; else elseBlock">
            <img src="../../assets/img/non.jpg" alt="">
        </div>
        <ng-template #elseBlock><img src="../../assets/img/{{biere.image}}" alt=""></ng-template>
        
        <p>Nom: {{biere?.nom}}</p>
        <p>Brasserie:{{biere?.brasserie}}</p>
        <p>Description:{{biere?.description}}</p>
        
    </div>
</article>



       



  