
    <h1>Mes Produits</h1>
    <div class="button-container">
      <button mat-button color="primary"><a routerLink='/ajouter/'>Ajouter une biere</a></button>

    </div>
     <!-- <app-produit [(peutEditer)]="editable" [produit]="unProduit" *ngFor = "let unProduit of produits"></app-produit>  -->
     <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <mat-table [dataSource]='dataSource' matSort>
        <ng-container matColumnDef="id_biere">
            <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
            <mat-cell *matCellDef="let unProduit"> {{unProduit.id_biere}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="nom">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
            <mat-cell *matCellDef="let unProduit"> {{unProduit.nom}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="brasserie">
            <mat-header-cell *matHeaderCellDef mat-sort-header> brasserie </mat-header-cell>
            <mat-cell *matCellDef="let unProduit"> {{unProduit.brasserie}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="date_ajout">
            <mat-header-cell *matHeaderCellDef mat-sort-header> date d'ajout </mat-header-cell>
            <mat-cell *matCellDef="let unProduit"> {{unProduit.date_ajout}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="date_modif">
            <mat-header-cell *matHeaderCellDef mat-sort-header> date de modification </mat-header-cell>
            <mat-cell *matCellDef="let unProduit"> {{unProduit.date_modif}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef> delete </mat-header-cell>
            <mat-cell *matCellDef="let unProduit"><mat-icon (click)="openDialog(unProduit.id_biere)">delete</mat-icon></mat-cell>
          </ng-container>
          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef> edit </mat-header-cell>
            <mat-cell *matCellDef="let unProduit"><mat-icon ><a routerLink='/produit/{{unProduit.id_biere}}'>edit</a></mat-icon></mat-cell>
          </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>

          
    </mat-table>
    
    



