:host{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 128px;

    .unProduit{
        height: 150px;
        width: 200px;
        border: 5px dashed black;

    }

    .pas_cher{
        color: rgb(59, 24, 212);
    }
    .rabais{
        color: red;
    }
    .solde{
        color: rgb(255, 0, 255);
    }
}

