.liste{
    display: flex;
    flex-direction: row;
    gap: 10px;

    .unProduit{
        height: 150px;
        width: 200px;
        border: 5px dashed black;

    }

    .pas_cher{
        color: rgb(59, 24, 212);
    }
    .rabais{
        color: red;
    }
}